.PERSON {
	background-color: green;
}

.LOCATION {
	background-color: red;
}

.ORGANIZATION {
	background-color: yellow;
}

#header {
	margin-bottom: 20px;
}

div.hidden {
	display : none;
}

span {
	cursor: pointer;
}